<h2>Movie Summary </h2>
<div *ngIf="fetch">
	<h2>Loading....</h2>
</div>
<table>
	<tr>
		<th *ngFor="let mColumn of movieColumns">
			{{mColumn}}
		</th>
	</tr>
	<tr *ngFor="let movieSummary of movieSummaryList">
		<td *ngFor="let col of movieColumns">
			{{movieSummary[col]}}
		</td>
	</tr>
</table>
<button (click)="fetchMore()">Fetch More</button><br/>
<input type="text" #searchId /><br/>
<button (click)="searchById(searchId.value)">Search By ID</button><br/>
<button (click)="onPost()">Using HTTP Post</button><br/>
<h2 *ngIf="errorMessage">{{errorMessage}}</h2>
